body {
  /*background-color: #0099cc;
  border-radius: 153px 10px 200px 10px;
  -moz-border-radius: 153px 10px 200px 10px;
  -webkit-border-radius: 153px 10px 200px 10px;
  border: 30px solid #000000;*/

  background: rgba(43,76,111,1);
  background: -moz-linear-gradient(top, rgba(43,76,111,1) 0%, rgba(170,125,57,1) 50%, rgba(43,76,111,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43,76,111,1)), color-stop(50%, rgba(170,125,57,1)), color-stop(100%, rgba(43,76,111,1)));
  background: -webkit-linear-gradient(top, rgba(43,76,111,1) 0%, rgba(170,125,57,1) 50%, rgba(43,76,111,1) 100%);
  background: -o-linear-gradient(top, rgba(43,76,111,1) 0%, rgba(170,125,57,1) 50%, rgba(43,76,111,1) 100%);
  background: -ms-linear-gradient(top, rgba(43,76,111,1) 0%, rgba(170,125,57,1) 50%, rgba(43,76,111,1) 100%);
  background: linear-gradient(to bottom, rgba(43,76,111,1) 0%, rgba(170,125,57,1) 50%, rgba(43,76,111,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b4c6f', endColorstr='#2b4c6f', GradientType=0 );

}

.mask{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,1);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation-duration: 1s;animation-duration: 4s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
 }

@-webkit-keyframes fadeOut {
  /*100% {visibility: hidden;}*/
  75% {opacity: 1;}
  100% {opacity: 0;}
  0% {visibility: visible;}
  100% {visibility: hidden;}
 }

 @keyframes fadeOut {
  /*100% {visibility: hidden;}*/
  75% {opacity: 1;}
  100% {opacity: 0;}
  0% {visibility: visible;}
  100% {visibility: hidden;}
 }

 .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
 }


.mask p{
  color: #fff;
  font-size: 2em;
  font-family: Courier;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  justify-content: space-around;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation:
    mytyping 2.5s steps(30, end),
    my-blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes mytyping {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes my-blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}



.vAccordion--default {
  padding-top: 80px;
}

v-pane-header {
  text-align: center;
  font-size: 1.3em;
}

.header {
  height: 100px;
  display: flex;
  justify-content:space-around;
  align-items: center;
}


.header h1{
  padding-left: 9%;
  text-align: center;
  width: 100%;
  font-size: 4em;
}

.header img:hover{
  cursor: pointer;
}

.header img {
  height: 50px;
  width: 50px;
}

.links {
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.links img{
  margin-left: 15px;
  height: 50px;
  width: 50px;
}

.email .emailText{
  visibility: hidden;
  width: auto;
  font-size: .8em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 1.5s;
}

.email:hover .emailText{
  visibility: visible;
  opacity: 1;
}


.github .githubText{
  visibility: hidden;
  width: auto;
  font-size: .8em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 1.5s;
}

.github:hover .githubText{
  visibility: visible;
  opacity: 1;
}

.linkedIn .linkedInText{
  visibility: hidden;
  width: auto;
  font-size: .8em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 1.5s;
}

.linkedIn:hover .linkedInText{
  visibility: visible;
  opacity: 1;
}

.mypic{
}

.typewriter .mypic{
 visibility: hidden;

 background-color: black;

 border-radius: 6px;


 /* Position the tooltip */
 position: absolute;
 z-index: 1;
 opacity: 0;
 transition: opacity 1.5s;
}

.me:hover .mypic{
  visibility: visible;
  /*background-image: url('./client/assets/thumbnail_Linkedin_Pro.jpg');*/
  left: 45%;
  opacity: 1;
}


v-pane-header {
  margin-right: 5px;
}


.inneraccordian {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin: 2px;
  color:white;
}

.skills2{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin: 2px;
  color:white;
}



.frontend, .frontEnd, .backend, .backEnd{
  width: 35%;
  /*border: 5px solid black;*/
  /*background-color: #1f3b08;*/
}

.frontEnd h3, .backEnd h3{
  text-align: center;
  text-decoration: underline;
  font-weight: lighter;
  font-size: 1.3em;
}

.frontEnd li, .backEnd li{
  list-style: none;
}

.aboutme{
  /*background-color: #1f3b08;*/
  color:white;
  font-size: 20px;
}

.school{
  /*background-color: #1f3b08;*/
  color:white;
  font-size: 20px;
}

.skillacc{
  /*background-color: #0099cc;*/
  width: auto
}

.projects{
  /*background-color: #1f3b08;*/
  color:white;
  font-size: 20px;
}

.skills{
  color:white;
  justify-content: space-around;
  font-size: 20px;

}


.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: .15em solid orange; /* The typwriter cursor */*/
  white-space: nowrap; /* Keeps the content on a single line */
  justify-content: space-around;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */

}


.mainBody {
  margin: 5%;
}


.roundCorners {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}


.centerText {
  text-align: center;
}
